<h2>ToDoList</h2>
<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>IsDone</th>
    <th>Action</th>
    <!-- tr:one line;th:header,td:one unit box -->
  </tr>
  <tr *ngFor="let item of items">
    <td>{{ item.id }}</td>
    <td>{{ item.title }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.isDone }}</td>
    <td>
      <button (click)="onMarkDone(item.id)" [disabled]="item.isDone">
        Done
      </button>
      <!-- [disabled] disable the button when item is done -->
    </td>
  </tr>
</table>

<app-create-todo></app-create-todo>